/* Meals.css */
.layout-meals {
    display:contents;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
}

.wrapper-meals {
    max-width: 180px; /* Adjusted width */
    /*max-height: 280px; /* Adjusted height */
    margin: 20 auto;
    padding: 10px 30px; /* Adjusted padding */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: #fff;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #090a0a;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a2a5a5;
}