.wrapper-dietitian {
    max-width: 420px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: #fff;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:unset; /* Ensure vertical scrolling is enabled */
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    color: #fff;
}

.input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-box input,
.input-box select {
    width: 100%;
    height: auto;
    padding: 15px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #a9a2a2;
    background-color: transparent;
    margin-bottom: 10px;
}

.input-box input::placeholder {
    color: #aaa;
    background-color: transparent;
    margin-top: 1px;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #fff;
}

.flex-container{
    display: flex;
    align-items: center;
}

.qualification-box {
    display: flex;
    align-items: center;
}

.qualification-box input {
    flex: 1;
    margin-right: 10px;
}

.qualification-box button {
    flex-shrink: 0;
}

.flex-container {
    display: flex;
    align-items: center;
}

.qualification-list {
    list-style-type: none;
    padding: 0;
}

.qualification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.delete-button {
    background-color: rgb(39, 38, 38);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(95, 91, 91);
}

