.wrapper-footer {
    background-color: #191a1a;
    padding: 5rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: calc(100% - 180px); 
    width: 100%;
    margin: 0 auto; 
    position:absolute; 
    bottom: 0; 
    top: 660px;
    left: 0px; 
}

ul li {
    padding: 10px 15px;
    text-align: center;
}

ul li a {
    color: white;
    text-decoration: none;
    display: block;
    top: 60px;
}

.wrapper-footer ul {
    list-style-type: none; /* Remove default list item bullets */
    padding: 0; 
    text-align: center; 
}

.flex-container li {
    padding: 10px 15px;
    text-align: center; 
    margin: 0 60px;
}


.wrapper-footer h1 {
    margin-bottom: 20px; 
    margin-top: 3px; 
    text-align: left; 
    color: white; 
}

.wrapper-footer ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 0px; 
}
